@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu+Mono:wght@400;700&display=swap');

/* Apply Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply custom styles globally */
body {
  font-family: 'Ubuntu Mono', monospace; /* Set the base font to Ubuntu Mono */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}